#tabs-holder{
    width:100%;
}
#container{
    width:100%;
    height:100vh;
    padding-left: 20px;
    padding-right: 20px;
}
#option-holder{
    height:130px;
    width:100%;
}
#chart-holder{
    margin-top: 200px;
    width:700px;

}
#chart1-holder{

    width:700px;

}
#startDate{
    float:left;
    width:200px;
}

#endDate{
    float:left;
    padding-left: 30px;
    width:200px;
}

#conditionArea {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.dropdown {
    margin-right: 20px;
}

#dropdown {
    margin-left: 10px;
    cursor: pointer;
    z-index: 1;
}

