a {
    font-size: 40px;
}

#tabs-holder{
    width:100%;
}
#container{
    width:100%;
    height:100vh;
    padding-left: 20px;
    padding-right: 20px;
}


#option-holder {
    height: 130px;
    width: 100%;
}

#my-map-holder {
    display: none; /* Remove the map holder */
}

#chart-holder {
    float: left; /* Float the chart holder to the left */
    height: 700px;
    width: 100%; /* Occupy full width */
}

#startDate {
    float: left;
    width: 200px;
}

#endDate {
    float: left;
    padding-left: 30px;
    width: 200px;
}
