a{
    font-size: 40px;
}
#tabs-holder{
    width:100%;
}

#option-holder{
    height:160px;
    width:100%;
    padding-bottom: 20px;
}
#my-map-holder{
    float:left;
    height:500px;
    width: 50%;
}
#chart-holder{
    float:right;
    height:500px;
    width: 50%;
}

#startDate{
    float:left;
    width:200px;
}

#endDate{
    float:left;
    padding-left: 30px;
    width:200px;
}